{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": true,
  "bracketSpacing": true,
  "semi": true,
  "endOfLine": "lf"
}
